.input-container {
  width: 100%;
  width: 30rem;
  height: 100%;
  max-height: 5rem;
}

.input-content {
  border: 0;
  width: 100%;
  height: 4.8rem;

  &::placeholder {
    color: rgba(0, 0, 0, 0.38);
    font-size: 1.6rem;
  }

  &:focus {
    outline: none;
  }
}

.input-box {
  display: flex;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.38);
}

.show-password-button {
  background: transparent;
  border: 0;
}

.show-password-icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: rgba(0, 0, 0, 0.38);
}
